.top-menu-wrapper {
    margin-bottom: 10px;
}

.logo {
    border: 1px solid #c9302c;
    height: 100%;

}

.top-menu-column {
    margin-right: 4px;
}

.top-menu-column:last-child {
    margin-right: 0;
}

.top-menu-item {
    margin: 8px 2px;
}

.header-image {
    height: 36px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    z-index: 10;
    margin-bottom: 1px;
}

.menu-wrapper {
    height: 100px;
    /*background-color: #5cb85c;*/
}

.top-nav {
    opacity: 0.9;
}

.menu-fixed-top,
.menu-fixed-bottom {
    position: relative;
    right: 0;
    left: 0;
    z-index: 1030;
}

.menu-fixed-top {
    background-color: rgb(255, 255, 255);
    height: 85px;
    margin-bottom: -80px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    margin-bottom: 2px;
    z-index: 150;
}

.menu-fixed-top a, p {
    color: #333333;
    height: 39px;
    /* line-height: 39px; */
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
}

.menu-fixed-top-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}