.top-nav {
	opacity: 0.9;
}
.headers-banner {
	height: 130px;
	width: 100%;
/* 	margin-left: 20px; */
/* 	margin-top: 20px; */
/* 	margin-bottom: 20px; */
	padding: 20px;
/* 	background-color: #EAE7E7; */
}

#boxshadow {
	position: relative;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	padding: 10px;
	background: white;
}

/* Make the image fit the box */
#boxshadow img {
	width: 100%;
	border: 1px solid #8a4419;
	border-style: inset;
}

#boxshadow::after {
	content: '';
	position: absolute;
	z-index: -1; /* hide shadow behind image */
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
	width: 70%;
	left: 15%; /* one half of the remaining 30% */
	height: 100px;
	bottom: 0;
}