.text-contact-marquee {
	position: absolute;
	white-space: nowrap;
	margin-bottom:;
}

.slide-show {
	height: 330px;
	width: 100%;
	background-color: rgba(51, 109, 69, 0.46);
}

.product-item {
	position: relative;
	float: left;
	margin: 0px 0 20px 0;
	padding: 0 10px;
}

.prd-item-border {
	height: 406px;
	width: 305px;
	border: thin #57b23d solid;
	border-top: 5px solid #57b23d;
	margin: 0 auto;
}