.prd-categories {
    margin-top: 10px;
    border: solid;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 1348px) {
    .prd-categories {
        width: 1348px;
    }
}

.prd-categories-intro {
    height: 104px;
}

.left-intro {
    background: rgba(221, 221, 221, 0.91);
    height: 100%;
}

.main-intro {
    height: 100%;
}

.col-main {
    border: 1px solid rgba(26, 255, 131, 0.91);
}

.left-filter-bar {
    /*height: 100%;*/
    border-right: 1px solid rgba(204, 204, 204, 0.46);
    height: 1000px;
    background-color: #e8e8e8;
    /*width:15%;*/
    padding: 0;
}

.prd-categories-list {
    /*overflow: hidden;*/
    padding: 0;
}

@media (min-width: 1348px) {
    .prd-categories-list .list-item {
        width: 25%;
    }
}

@media (min-width: 1290px) {
    .prd-categories-list .list-item {
        width: 25%;
    }
}

/*@media (min-width: 120px) {*/
    /*.prd-categories-list .list-item {*/
        /*width: 33.3%;*/
    /*}*/
/*}*/

.main-list-items {

}

.prd-categories-list ul li {
    /*display: inline;*/
    list-style-type: none;
    float: left;
}

.list-item {
    height: 394px;
    width: 262px;
    border: 1px solid #0028ff;
    padding: 10px;
    /*padding: 30px 20px 15px 20px;*/
}

.item {
    height: 100%;
    background-color: #46ffb5;
}

.img-border {
    height: 59.84%;
    background-color: #e8b636;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;

}

.info {
    height: 40.16%;
    background-color: #e87f45;
}